In [1]:
import pandas as pd

In [3]:
dataset = pd.read_csv("insurance_pre.csv")

In [5]:
dataset = pd.get_dummies(dataset,drop_first=True)

In [7]:
dataset.head()

   age     bmi  children      charges  sex_male  smoker_yes
0   19  27.900         0  16884.92400     False        True
1   18  33.770         1   1725.55230      True       False
2   28  33.000         3   4449.46200      True       False
3   33  22.705         0  21984.47061      True       False
4   32  28.880         0   3866.85520      True       False

In [9]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [11]:
independent = dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
dependent = dataset[['charges']]

In [13]:
from sklearn.model_selection import train_test_split

In [15]:
X_train, X_test, y_train, y_test = train_test_split(independent,dependent,test_size=0.3)

In [19]:
y_train=y_train.squeeze()

In [21]:
y_test=y_test.squeeze()

In [23]:
from sklearn.ensemble import RandomForestRegressor

In [89]:
regressor =  RandomForestRegressor(n_estimators=50,random_state=0,criterion='poisson')

In [91]:
model  = regressor.fit(X_train,y_train)

In [93]:
y_pred = model.predict(X_test)

In [95]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.819784177026478