In [28]:
import pandas as pd

In [29]:
dataset = pd.read_csv("50_Startups.csv")

In [30]:
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [31]:
dataset = pd.get_dummies(dataset,drop_first=True)

In [32]:
dataset.head()

,R&D Spend,Administration,Marketing Spend,Profit,State_Florida,State_New York
0,165349.20,136897.80,471784.10,192261.83,False,True
1,162597.70,151377.59,443898.53,191792.06,False,False
2,153441.51,101145.55,407934.54,191050.39,True,False
3,144372.41,118671.85,383199.62,182901.99,False,True
4,142107.34,91391.77,366168.42,166187.94,True,False

In [33]:
dataset.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'Profit',
       'State_Florida', 'State_New York'],
      dtype='object')

In [34]:
#split the dataset to input and output variables
independent = dataset[['R&D Spend', 'Administration', 'Marketing Spend','State_Florida', 'State_New York']]
dependent = dataset[['Profit']]

In [37]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(independent,dependent,test_size=0.3)

In [39]:
type(y_train)

pandas.core.frame.DataFrame

In [42]:
y_train = y_train.squeeze() #squeeze can be used for single column dataframes to convert to 1D array or you can use flatten for Dataframes. or you can use ravel if numpy arrays were used

In [43]:
from sklearn.ensemble import RandomForestRegressor

In [44]:
regressor =  RandomForestRegressor(n_estimators=50,random_state=0)

In [45]:
model  = regressor.fit(X_train,y_train)

In [46]:
X_train.shape,y_train.shape

((35, 5), (35,))

In [47]:
type(y_train)

pandas.core.series.Series

In [48]:
y_pred = model.predict(X_test)

In [50]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.9519576468787941

In [ ]:
#r2 value is closer to 1..good

In [55]:
#save the model
import pickle
filename= "random_forest.sav"

In [57]:
pickle.dump(model,open(filename,"wb"))