In [1]:
import pandas as pd

In [3]:
dataset = pd.read_csv("insurance_pre.csv")

In [7]:
dataset.head()

   age     sex     bmi  children smoker      charges
0   19  female  27.900         0    yes  16884.92400
1   18    male  33.770         1     no   1725.55230
2   28    male  33.000         3     no   4449.46200
3   33    male  22.705         0     no  21984.47061
4   32    male  28.880         0     no   3866.85520

In [11]:
dataset = pd.get_dummies(dataset,drop_first=True)

In [13]:
dataset.head()

   age     bmi  children      charges  sex_male  smoker_yes
0   19  27.900         0  16884.92400     False        True
1   18  33.770         1   1725.55230      True       False
2   28  33.000         3   4449.46200      True       False
3   33  22.705         0  21984.47061      True       False
4   32  28.880         0   3866.85520      True       False

In [15]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [23]:
independent = dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]

In [25]:
dependent = dataset[['charges']]

In [29]:
from sklearn.model_selection import train_test_split

In [33]:
X_train, X_test, y_train, y_test = train_test_split(independent,dependent,test_size=0.3)

In [35]:
from sklearn.linear_model import LinearRegression

In [37]:
regressor = LinearRegression()

In [41]:
model = regressor.fit(X_train,y_train)

In [45]:
y_pred = model.predict(X_test)

In [47]:
#calculate r2 score

In [49]:
from sklearn.metrics import r2_score

In [51]:
r2_score(y_test,y_pred)

0.7669570331953246